::ng-deep .dialog-container-info .mdc-dialog__container {
  width: 850px;
}

:host {
  padding: var(--space-lg);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  p {
    text-align: justify;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}
