<footer>
  <img
    src="assets/img/logo.png"
    alt=""
    height="300px"
    width="300px"
    loading="lazy"
  />

  <nav>
    <div class="navbar-container">
      <a href="#cover-section">Home</a>
      <a href="#highlights-section">Sobre nós</a>
      <a href="#activities-section">Atuação</a>
      <a href="#sponsors-section">Apoio</a>
    </div>

    <div class="social-media-container">
      <a
        href="https://www.instagram.com/instagasalho/"
        aria-label="Abrir perfil no Instagram"
      >
        <app-svg-icon name="instagram" size="30px" />
      </a>
      <a
        href="https://www.facebook.com/campanhadoagasalhouspsc/"
        aria-label="Abrir perfil no Facebook"
      >
        <app-svg-icon name="facebook" size="30px" />
      </a>
    </div>
  </nav>
</footer>
